* , *:before, *:after {
  box-sizing: : border-box;
}

body, html{
  height:100%;

}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  /*border:100px solid red;*/

  /*border-radius:10px;*/
  position:absolute;
}



.dancer1{
  width: 101px;
  height: 128px;

  background: url("1.png");
  background-size: cover;
}

.dancer2{
  width: 101px;
  height: 128px;

  background: url("2.png");
  background-size: cover;
}

.dancer3{
  width: 96px;
  height: 108px;

  background: url("3.png");
  background-size: cover;
}

.dancer4{
  width: 103px;
  height: 140px;

  background: url("4.png");
  background-size: cover;
}

.dancer5{
  width: 290px;
  height: 246px;

  background: url("5.png");
  background-size: cover;
}

.dancer6{
  width: 107px;
  height: 149px;

  background: url("6.png");
  background-size: cover;
}
.dancer7{
  width: 106px;
  height: 116px;

  background: url("7.png");
  background-size: cover;
}

.dancer8{
  width: 95px;
  height: 151px;

  background: url("8.png");
  background-size: cover;
}

.dancer9{
  width: 97px;
  height: 136px;

  background: url("9.png");
  background-size: cover;
}

/*.pulse {

  cursor: pointer;
  box-shadow:
    inset 0 0 0 rgba(204,169,44, 0.4),
    0 0 0 rgba(204,169,44, 0)
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    box-shadow:
      inset 0 0 0 0 rgba(204,169,44, 0.4),
      0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      box-shadow:
        inset 0 0 0 25px rgba(204,169,44, 0),
        0 0 0 25px rgba(204,169,44, 0);
  }
  100% {
      box-shadow:
        inset 0 0 0 50px rgba(204,169,44, 0),
        0 0 0 50px rgba(204,169,44, 0);
  }
} */

.pulse {

  border-radius: 50%;
  cursor: pointer;
  box-shadow: inset 0 0 0 20px rgba(204,169,44, 1),
    inset 0 0 0 15px rgba(204,169,44, 0.1); 
  /*animation: pulse 2s infinite;*/
}
.pulse:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    box-shadow: inset 0 0 0 50px rgba(204,169,44, 0);
  }
  30% {
      box-shadow: inset 0 0 0 25px rgba(204,169,44, 0);
  }
  100% {
      box-shadow: inset 0 0 0 0 rgba(204,169,44, 0.4);
  }
}
